<!DOCTYPE html>
<html>

	{% include head.html %}
<div id="wrapper">
	{% include header.html %}

	<div id="main_wrap" class="clearfix">
		<div id="main">

			<div class="diary_area">
				{{ content }}
			</div><!-- /.diary_area -->

			<div class="diary_area">
				<h3>最初の日記です。</h3>
				<p class="date">2015.10.27（火）</p>
				<p>こんにちは。</p>
			</div><!-- /.diary_area -->

		</div><!-- /#main -->

		{% include sidebar.html %}
	</div><!-- /#main_wrap.clearfix -->


</div><!-- /#wrapper.clearfix -->

</body>

</html>
